/* @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Lato&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #f0f2f5;
}

img {
    height: 232px;
    margin-right: -308px;
    width: 199px;
}

.container {
    /* margin: -506px 66px 108px 515px; */
    background-color: white;
    height: 275px;
    width: 420px;
    margin-top: 148px;
}

.foot {
    background-color: white;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20vh;
    color: grey;
    text-align: left;
}

.login {
    /* height: 15px;
    width: 15px; */
    font-size: 23px;
    padding: 9px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-family: 'Roboto Condensed', sans-serif;
}

.text {
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 108px 21px 23px;
    width: 218px;
    border-radius: 6px;
    font-weight: lighter;
    border: 1px solid #dddfe2;
}

.intel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
}

.text1 {
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 108px 21px 23px;
    width: 218px;
    border-radius: 6px;
    font-weight: lighter;
    border: 1px solid #dddfe2;
}

.intel1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginbtn {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 23px;
    line-height: 48px;
    padding: 0 16px;
    width: 349px;
    font-family: inherit;
    color: white;
}

.divs {
    text-align: center;
    padding: 7px 18px 22px 20px;
}

.links {
    display: flex;
    padding: 12px 0 18px;
    margin: -1px 28px 22px 57px;
}

.intel:hover {
    font-weight: bold;
}

.intel1:hover {
    font-weight: bold;
}

a {
    padding: 5px;
}

#f1 {
    display: flex;
    margin-left: 111px;
    margin-right: 12px;
}

.man {
    display: flex;
    margin: auto;
} 